@import url('https://fonts.googleapis.com/css?family=Figtree');

@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-input {
    width: 250px;
    padding: 0.4rem;
    background: #0000;
    border:solid 1px #fff8;
}

.topic{
    display: flex;
    justify-content: center;
    align-items: center;
    border:0.2px solid white;
    padding:10px 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #53f;
}

::-webkit-scrollbar-thumb:hover {
    background: #98f;
}

